@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .paused{
    animation-play-state: paused;
  }
}

:root {
  --background-black:rgb(13, 13, 13);
  --component-background:rgb(26, 26, 26);
  --default-font-color:aliceblue;
  --button-bg:rgb(24, 21, 19);
  --paragraph-font:rgba(255, 255, 255, .6);
}

body {
  background-color: var(--background-black);
  padding: 1rem;
  font-family: var(--font-capriola);
  color:var(--default-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
main{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}