@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .paused{
    animation-play-state: paused;
  }
}

:root {
  --background-black:rgb(4, 4, 4);
  --component-background:rgb(18, 16, 15);
  --default-font-color:aliceblue;
}

body {
  background-color: var(--background-black);
  padding: 1rem;
  font-family: var(--font-capriola);
  color:var(--default-font-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
main{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}