@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-black:rgb(17, 16, 15);
  --component-background:#282c34;
  --default-font-color:aliceblue;
  --globalfont:"Marche Pro Super", sans-serif;
}

body {
  background-color: var(--background-black);
  padding: 1rem;
  font-family: var(--globalfont, Inter, Inter Placeholder, sans-serif);
  color:var(--default-font-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}